<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="style.css">
	<title>Filtered Drinks</title>
</head>

<body>
	<h1 id="title">Showing filtered drinks where:</h1>
  <h2> Drink Category: <%- category%></h2>
  <h2>Drink Type: <%- type%></h2>
	<div>
    <%- table%>
    <br>
    <a href="/"><u>Go Home</u></a>
  </div>
</body>

</html>