<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<title>Mixology</title>
</head>

<body>
	<h1 id="title">Welcome to Mixology!</h1>
  <div id="options">
	<p>To search for drinks select <a href="/getDrinks">Get Drinks</a></p>
	<p>To view all saved drinks select <a href="/savedDrinks">View Saved Drinks</a></p>
	<p>To filter through saved drinks select <a href="/searchDrinks">Filter Saved Drinks</a></p>
	<p>To remove all saved drinks select <a href="/remove">Remove All Saved Drinks</a></p>
</div>
	<hr>
</body>

</html>