<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<title>Removed</title>
</head>

<body>
	<h1 id="title">Removal of All Drinks</h1>
    <p id="remove">All saved drinks have been removed from the databse. Number of drinks removed: <%- count %></p>
<br><br>
    <a href="/"><u>Go Home</u></a>
</body>

</html>